* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-color: #333;
  background-image: url(images/logoHOG.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: Inter, sans-serif;
}

.container {
  background: #f9f9f9;
  background: rgba(249, 249, 249, 0.88);
  border-radius: .25em;
  margin: 0.625em auto;
  max-width: 85%;
  padding: 1.25em;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0.5em 0;
}

p {
  margin-bottom: 0.5em;
}

dl {
  margin-inline-start: 1em;
}

dt {
  font-weight: bold;
  margin-top: 1em;
}

dd {
  margin-inline-start: 0.938em;
}

hr {
  border: solid 0.1em #a9a9a9;
  margin: 1em auto 0 auto;
  width: 80%;
}

.anchor-link {
  color: #00f;
  text-decoration: none;
}

.anchor-link:hover, .anchor-link:focus {
  text-decoration: underline;
}

.newline {
  display: block;
  padding-left: 0.8em;
}

.mini-paragraph {
  padding: 0.4em 0 0 0.8em;
}

code {
  font-size: 1.3em;
}

.weight {
  font-weight: 400;
}

.font-row {
  display: flex;
  justify-content: space-between;
}

.font-row p {
  margin: 0;
}

.font1 {
  font-family: 'Permanent Marker';
  font-size: 1.1em;
}

.font2 {
  font-family: 'Open Sans';
  font-size: 1.1em;
}

footer {
  background-color: #444;
  border-radius: 0.5em;
  color: #f9f9f9;
  margin: 1em 3em 0 3em;
  padding: 1em 0.5em 0.5em 0.5em;
}

footer a, p a {
  color: #ff8c00;
  text-decoration: none;
}

.profile-link:hover {
  text-decoration: underline;
}

.github-link {
  text-align: center;
}
