body {
  background-color: #222;
  color: #c1c1c1;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #ff8500;
  text-align: center;
}

.introduction {
  margin: auto 3.125em;
  text-align: left;
}

.grid {
  display: flex;
  margin-top: 1.2em;
  margin: auto 2.5em;
  padding-top: 1.2em;
}

.patch-title, .link {
  color: #ff8500;
}

#features .patch {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-height: 150px;
  min-width: 150px;
}

.patch-title {
  padding-left: 1em;
}

.ride-info {
  margin: auto 2em;
}
