:root {
  --bg-color: #c1c1c1;
  --font-color: #222;
  --heading-color: #222;
  --link-color: #00e;
}

[data-theme="dark"] {
  --bg-color: #222;
  --font-color: #c1c1c1;
  --heading-color: #ff8500;
  --link-color: #ff8500;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
}

.introduction {
  margin: auto 3.125em;
  text-align: left;
}

.grid {
  display: flex;
  margin-top: 1.2em;
  margin: auto 2.5em;
  padding-top: 1.2em;
}

.patch-title {
  color: var(--heading-color);
}

.link {
  color: var(--link-color);
}

.patch-list .patch {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-height: 150px;
  min-width: 150px;
}

.patch-title {
  padding-left: 1em;
}

.ride-info {
  margin: auto 2em;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
