* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #222;
  --font-color: #f9f9f9;
  --heading-color: #ff8500;
  --link-color: #ff8500;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Raleway', 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  padding: 0.5em 0;
}

.introduction {
  margin: auto 3.125em;
  text-align: left;
}

.contacts {
  margin: 1.0em 4.0em;
}

.patch-container {
  display: flex;
  margin: auto 2.5em;
  padding: 0.6em 0;
}

.patch-title {
  color: var(--heading-color);
}

.link {
  color: var(--link-color);
}

.patch {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-height: 150px;
  min-width: 150px;
  width: 150px;
}

.description {
  display:flex;
  flex-direction: column;
}

.patch-title {
  padding-left: 1em;
}

.ride-info {
  margin: auto 2em;
}

.line {
  display: block;
}

@media screen and (max-width:700px) {
  h1 {
    font-size: 1.3em;
  }
  
  h2 {
    font-size: 0.9em;
    width: 90%;
  }
  
  .introduction {
    margin: auto 1.125em;
  }
  
  .contacts {
    margin: 0.5em 0em 0em 1.3em;
  }
  
  h3 {
    font-size: 0.8em;
  }
  
  .patch-container {
    margin: auto 1.2em;
  }
  
  img {
    display: none;
  }
  
  .ride-info {
    font-size: 0.8em;
    margin: auto;
  }
}
