* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #f9f9f9;
  font-family: Raleway, sans-serif;
  background-image: url(images/hogEagle.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  background: rgba(001, 001, 001, 0.85);
  border-radius: .25em;
  margin: auto;
  padding: 1.25em;
}

h1 {
  margin-top: 1em;
  text-align: center;
}

h3 {
  padding: 1em 0 0 1em;
}

h1, h3 {
  color: #b0c4de;
}

.country {
  color: #f9f9f9;
  color: #b0c4de;
  margin-top: 1em;
  text-align: center;
}

li {
  list-style: none;
  padding: 0.5em 0 0 2em;
}

a { 
  color: #ff8c00;
  display: inline-block;
  text-decoration: none;
}

li a {
  width: 23.2em;
}

.defunct {
  color: #f77;
}

footer {
  background-color: #444;
  border-radius: 0.5em;
  color: #f9f9f9;
  margin: 1em 3em; 
  padding: 1em 0.5em 0.5em 0.5em;
} 

footer a {
  color: #ff8c00;
}

.github-link {
  text-align: center;
}
