@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #24272e;
  font-family: 'Walter Turncoat', sans-serif;
}

#game-name {
  color: #f4d481;
  font-size: 35px;
  padding: 15px;
  text-align: center;
}

.label, .scores {
  color: #f4d481;
  font-size: 30px;
  text-align: center;
}

.outcome, .score {
  display: inline-block;
}

#won, #lost, #tied {
  padding: 0px 3px 0px 3px;
}

#loss {
  margin: 0px 45px 0px 45px;
}

.choices {
  color: #f4d481;
  font-size: 25px;
  padding: 15px;
  text-align: center;
}

#you-chose {
  color: #f4d481;
  display: inline-block;
}

#comp-chose {
  color: #f4d481;
  display: inline-block;
}

.result {
  color: #f4d481;
  font-size: 30px;
  margin: 10px auto;
  text-align: center;
}

.icons {
  margin: 30px 20px 0;
  text-align: center;
}

.user-choice {
  border: 4px solid #f4d481;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  padding: 18px;
}

.user-choice:hover {
  cursor: pointer;
}

.user-choice:active {
  background-color: #14171e;
	border: 4px solid #e4c471;
}

.choice-label {
  color: #f4d481;
  text-align: center;
}

.name {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}

#rules {
  color: #f4d481;
  padding: 20px;
  text-align: center;
}

.author {
  color: #f4d481;
  font-size: small;
  text-align: center;
}

@media all and (max-width: 576px) {
  #game-name {
    font-size: large;
  }
  
  .user-choice {
    height: 95px;
    width: 95px;
  }
  
  img {
    height: 65px;
    width: 65px;
  }
}
