* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #a5464c;
  font-family: sans-serif;
  text-align: center;
}

.title {
  font-family: Acme;
  font-size: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-shadow: 1px 1px #000;
}

.chip-img {
  height: auto;
  max-width: 100%;
  position: relative;
}

.tuit-text {
  color: #c4c4c0;
  font-size: 5em;
  text-shadow: 1px 2px 1px rgba(255,255,255,.4), 1px -2px 1px rgba(0,0,0,.7);
  text-transform: uppercase;
  position: absolute;  
  left: 50%;                        /* horizontal alignment */
  top: 50%;                         /* vertical alignment */
  transform: translate(-50%, -50%); /* precise centering */
}

.tuit-poem {
  color: #333;
  font-family: Acme;
  font-size: 1.1em;
  padding-top: 2em;
}

.copy {
  color: #333;
  font-size: small;
  padding-top: 1em;
}
