* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #f9f9f9;
  font-family: Raleway, sans-serif;
  background-image: url(images/barShieldLogo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.page-container {
  background: rgba(001, 001, 001, 0.75);
  border-radius: .25em;
  margin: auto;
  padding: 1.25em;
  max-width: 97%;
}

.content-wrapper {
  padding-bottom: 2.5rem;
}

h1, h3 {
  text-align: center;
}

h1, h2, dt {
  color: #B0C4DE;
}

dt {
  margin-top: 1.3em;
}

dd {
  margin-inline-start: 1em;
}

.newline {
  display: block;
  padding-left: 0.8em;
}

.mini-paragraph {
  padding: 0.4em 0 0 0.8em;
}

code {
  font-size: 1.3em;
}

.foot a {
  color: #ff8c00;
}
