<!--
  use this template to create tables for the Raleigh HOG patch checklists
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Master Table Template</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>Table w/out &lt;table&gt; tags</h1>
  <div class="table">

    <div class="table-caption">Optional caption tag</div>

    <div class="table-header">
      <div class="table-header-cell">Visited</div>
      <div class="table-header-cell">Establishment</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Notes</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">row1 - column2</div>
        <div class="table-body-cell">row1 - column3</div>
        <div class="table-body-cell">row1 - column4</div>
        <div class="table-body-cell">row1 - column5</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">row2 - column2</div>
        <div class="table-body-cell">
          <span class="newline">row2 - column3 w/multi-lines</span>
          <span class="newline">row2 - column3 w/multi-lines</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">row2 - column4 w/multi-lines</span>
          <span class="newline">row2 - column4 w/multi-lines</span>
        </div>
        <div class="table-body-cell">row2 - column5</div>
        <div class="table-body-cell">row2 - column6</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">row3 - column2</div>
        <div class="table-body-cell">row3 - column3</div>
        <div class="table-body-cell">row3 - column4</div>
        <div class="table-body-cell">row3 - column5</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">row4 - column2</div>
        <div class="table-body-cell">
          <span class="newline">row4 - column3 w/multi-lines</span>
          <span class="newline">row4 - column3 w/multi-lines</span>
          <span class="newline">row4 - column3 w/multi-lines</span>
          <span class="newline">row4 - column3 w/multi-lines</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">row4 - column4 w/multi-lines</span>
          <span class="newline">row4 - column4 w/multi-lines</span>
          <span class="newline">row4 - column4 w/multi-lines</span>
          <span class="newline">row4 - column4 w/multi-lines</span>
        </div>
        <div class="table-body-cell">row4 - column5</div>
        <div class="table-body-cell">row4 - column6</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">row5 - column2</div>
        <div class="table-body-cell">row5 - column3</div>
        <div class="table-body-cell">row5 - column4</div>
        <div class="table-body-cell">row5 - column5</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">row6 - column2</div>
        <div class="table-body-cell">row6 - column3</div>
        <div class="table-body-cell">row6 - column4</div>
        <div class="table-body-cell">row6 - column5</div>
        <div class="table-body-cell">row6 - column6</div>
      </div>

    </div>
  </div>

  <footer>
    <p><b>footer text here</b></p>
  </footer>

</body>

</html>
