<!--
  use this template to create the table for the NC Lights Patch checklist
  add/remove locales as needed
  the list is alphabetized by city
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NC Lights Checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>NC Lights Patch Checklist</h1>
  <div class="table table-lights">

    <div class="table-header">
      <div class="table-header-cell">Visited</div>
      <div class="table-header-cell">Light</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Climb It</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Old Baldy Lighthouse</div>
        <div class="table-body-cell">101 Light House Wynd <small>*ferry required<sub>1</sub></small></div>
        <div class="table-body-cell">Bald Head Island</div>
        <div class="table-body-cell">Brunswick</div>
        <div class="table-body-cell">Mar - Dec</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Cape Hatteras Lighthouse</div>
        <div class="table-body-cell">46379 Lighthouse Rd</div>
        <div class="table-body-cell">Buxton</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell">No</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Currituck Beach Lighthouse</div>
        <div class="table-body-cell">1101 Corolla Village Rd</div>
        <div class="table-body-cell">Corolla</div>
        <div class="table-body-cell">Currituck</div>
        <div class="table-body-cell">mid-Mar thru Dec</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Roanoke River Lighthouse</div>
        <div class="table-body-cell">7 Dock St</div>
        <div class="table-body-cell">Edenton</div>
        <div class="table-body-cell">Chowan</div>
        <div class="table-body-cell">Yes</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Cape Lookout Lighthouse</div>
        <div class="table-body-cell">1800 Island Rd <small>*ferry required<sub>2</sub></small></div>
        <div class="table-body-cell">Harkers Island</div>
        <div class="table-body-cell">Carteret</div>
        <div class="table-body-cell">No</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Roanoke Marshes Lighthouse</div>
        <div class="table-body-cell">104 Fernando St</div>
        <div class="table-body-cell">Manteo</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell">No</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Bodie Island Lighthouse</div>
        <div class="table-body-cell">8210 Bodie Island Lighthouse Rd</div>
        <div class="table-body-cell">Nags Head</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell">Apr thru mid-Nov</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Oak Island Lighthouse</div>
        <div class="table-body-cell">300a Caswell Beach Rd</div>
        <div class="table-body-cell">Oak Island</div>
        <div class="table-body-cell">Brunswick</div>
        <div class="table-body-cell">Year round by app't only</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Ocracoke Lighthouse</div>
        <div class="table-body-cell">360 Lighthouse Rd <small>*ferry required<sub>3</sub></small></div>
        <div class="table-body-cell">Ocracoke</div>
        <div class="table-body-cell">Hyde</div>
        <div class="table-body-cell">No</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Price's Creek Lighthouse</div>
        <div class="table-body-cell">only visible from Southport-Fort Fisher ferry</div>
        <div class="table-body-cell">n/a</div>
        <div class="table-body-cell">n/a</div>
        <div class="table-body-cell">n/a</div>
      </div>

    </div>
  </div>

  <p>Check the NCDOT ferry schedule when planning your trip</p>
  <p><small>*ferry required<sub>1</sub></small> Bald Head Island is only accessible by boat. The Bald Head Island passenger ferry in Southport, NC makes trips to and from the island daily.
    <span class="newline"><small>*ferry required<sub>2</sub></small> Island Express Ferry Services goes to Cape Lookout</span>
    <span class="newline"><small>*ferry required<sub>3</sub></small> You can take a free ferry from Hatteras to Ocracoke Island. For a small fee, you can also take a ferry from Cedar Island or Swan Quarter.</span>
  </p>

  <footer>
  </footer>

</body>

</html>
