<!--
  use this template to create table for the five points patch checklists
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Five Points Checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>Five Points Patch Checklist</h1>
  <div class="table table-fivepoints">

    <div class="table-header">
      <div class="table-header-cell">Visited</div>
      <div class="table-header-cell">Establishment</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Notes</div>
    </div>

    <div class="table-body">
     
     <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Pop's Raw Bar</div>
        <div class="table-body-cell">48967 NC Hwy 12</div>
        <div class="table-body-cell">Buxton</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell">East</div>
      </div>
      
      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Waterfront Seafood Shack</div>
        <div class="table-body-cell">9945 Nance St</div>
        <div class="table-body-cell">Calabash</div>
        <div class="table-body-cell">Brunswick</div>
        <div class="table-body-cell">South</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Wally's Service Station</div>
        <div class="table-body-cell">625 S Main St</div>
        <div class="table-body-cell">Mount Airy</div>
        <div class="table-body-cell">Surry</div>
        <div class="table-body-cell">North</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Rib Country BBQ</div>
        <div class="table-body-cell">2121 US-64</div>
        <div class="table-body-cell">Murphy</div>
        <div class="table-body-cell">Cherokee</div>
        <div class="table-body-cell">West</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Martha's Grill</div>
        <div class="table-body-cell">220 S Main St</div>
        <div class="table-body-cell">Star</div>
        <div class="table-body-cell">Montgomery</div>
        <div class="table-body-cell">Center</div>
      </div>

    </div>
  </div>

  <footer>
    <p><b>Visit each establishment and take a photo that includes your Harley-Davidson motorcycle and the establishment sign</b></p>
  </footer>

</body>

</html>
