<!--
  use this template to create the table for the CHDDA Members checklist
  add/remove locales as needed
  in each state the list is alphabetized by city
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CHDDA Members</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>Carolina Harley-Davidson Dealer's Association Patch Checklist</h1>
  <div class="table table-chdda-nc">

    <div class="table-caption chdda-caption">North Carolina</div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell chddatable">Speedway H-D</div>
        <div class="table-body-cell chddatable">10049 Weddington Rd Ext</div>
        <div class="table-body-cell chddatable">Concord</div>
        <div class="table-body-cell chddatable">Cabarrus</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Riding High H-D</div>
        <div class="table-body-cell chddatable">3036 NC-68</div>
        <div class="table-body-cell chddatable">High Point</div>
        <div class="table-body-cell chddatable">Guilford</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Independence H-D</div>
        <div class="table-body-cell chddatable">9205 E Independence Blvd</div>
        <div class="table-body-cell chddatable">Matthews</div>
        <div class="table-body-cell chddatable">Mecklenburg</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Tobacco Road H-D</div>
        <div class="table-body-cell chddatable">1126 S Saunders St</div>
        <div class="table-body-cell chddatable">Raleigh</div>
        <div class="table-body-cell chddatable">Wake</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Crossroad H-D</div>
        <div class="table-body-cell chddatable">1921 US-421</div>
        <div class="table-body-cell chddatable">Wilksboro</div>
        <div class="table-body-cell chddatable">Wilkes</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Boneyard H-D</div>
        <div class="table-body-cell chddatable">2300 Elaines Way</div>
        <div class="table-body-cell chddatable">Winterville</div>
        <div class="table-body-cell chddatable">Pitt</div>
      </div>

    </div>
  </div>

  <div class="table table-chdda-sc">

    <div class="table-caption chdda-caption">South Carolina</div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell chddatable">Timms H-D</div>
        <div class="table-body-cell chddatable">4110 Clemson Blvd</div>
        <div class="table-body-cell chddatable">Anderson</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Low Country H-D</div>
        <div class="table-body-cell chddatable">4707 Dorchester Rd</div>
        <div class="table-body-cell chddatable">Charleston</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Thunder Tower H-D</div>
        <div class="table-body-cell chddatable">190 Pontiac Business Center Dr</div>
        <div class="table-body-cell chddatable">Elgin</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Harley Haven</div>
        <div class="table-body-cell chddatable">941 Western Ln</div>
        <div class="table-body-cell chddatable">Irmo</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Myrtle Beach H-D</div>
        <div class="table-body-cell chddatable">4710 S Kings Hwy</div>
        <div class="table-body-cell chddatable">Myrtle Beach</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Harley Shop at the Beach</div>
        <div class="table-body-cell chddatable">4002 Hwy 17 S</div>
        <div class="table-body-cell reftable">Myrtle Beach</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell chddatable">Summerville</div>
        <div class="table-body-cell chddatable">386 E 5th St</div>
        <div class="table-body-cell chddatable">Summerville</div>
      </div>

    </div>
  </div>

  <div class="table table-chdda-ga">

    <div class="table-caption chdda-caption">Georgia</div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell chddatable">Timms H-D</div>
        <div class="table-body-cell chddatable">4200 Belair Frontage Rd</div>
        <div class="table-body-cell chddatable">Augusta</div>
      </div>

    </div>
  </div>

  <div class="table table-chdda-va">

    <div class="table-caption chdda-caption">Virginia</div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell chddatable">Thunder Road H-D</div>
        <div class="table-body-cell chddatable">4870 Riverside Dr</div>
        <div class="table-body-cell chddatable">Danville</div>
      </div>

    </div>
  </div>

  <footer>
    <p><b>Visit each dealership and either purchase a poker chip or take a picture with your Harley-Davidson motorcycle in front of the dealership</b></p>
  </footer>

</body>

</html>
