<!--
  use this template to create the list for the Ride Into the Wild checklist
  add/remove locales as needed
  each section is alphabetized by city
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ride Into the Wild Checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>Ride Into the Wild Patch Checklist</h1>
  <div class="table table-ride-wild">

    <div class="table-header">
      <div class="table-header-cell">Establishment</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Notes</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"><a href="https://nczoo.org" target="_blank">North Carolina Zoo</a></div>
        <div class="table-body-cell">4401 Zoo Parkway</div>
        <div class="table-body-cell">Asheboro</div>
        <div class="table-body-cell">Randolph</div>
        <div class="table-body-cell">
          <span class="newline">$15.00 / $13.00 Seniors 62+</span>
          <span class="newline">(group rate available)</span>
          <span class="newline">9:00am - 5:00pm daily (Apr - Oct)</span>
          <span class="newline">9:00am - 4:00pm daily (Nov - Mar)</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://www.alohasafarizoo.org/" target="_blank">Aloha Safari Zoo</a></div>
        <div class="table-body-cell">159 Mini Lane</div>
        <div class="table-body-cell">Cameron</div>
        <div class="table-body-cell">Moore</div>
        <div class="table-body-cell">
          <span class="newline">$12.00 (feed cups $3.00)</span>
          <span class="newline">Fri - Sun 10:00am - 5:00pm</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://www.animal-edventures.org/" target="_blank">Animal Ed.ventures<sup>&reg;</sup> Sanctuary</a></div>
        <div class="table-body-cell">1489 Live Oak Road</div>
        <div class="table-body-cell">Coats</div>
        <div class="table-body-cell">Harnet</div>
        <div class="table-body-cell">
          <span class="newline">$15.00 (group rate available)</span>
          <span class="newline">Wed - Sun 11:00am - 4:00pm</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://lemur.duke.edu/" target="_blank">Duke Lemur Center</a></div>
        <div class="table-body-cell">3705 Erwin Road</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">
          <span class="newline">tours by reservation only</span>
          <span class="newline">visit website for scheduling</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://www.lifeandscience.org/" target="_blank">Museum of Life + Science</a></div>
        <div class="table-body-cell">433 West Murrray Avenue</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">
          <span class="newline">$23.00 / $21.00 Seniors 65+</span>
          <span class="newline">Tue - Sun 10:00am - 5:00pm</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://www.greensboroscience.org/" target="_blank">Greensboro Science Center</a></div>
        <div class="table-body-cell">4301 Lawndale Drive</div>
        <div class="table-body-cell">Greensboro</div>
        <div class="table-body-cell">Guilford</div>
        <div class="table-body-cell">
          <span class="newline">$19.50 / $18.50 Seniors 65+</span>
          <span class="newline">9:00am - 5:00pm daily</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://thelazy5ranch.com/" target="_blank">Lazy 5 Ranch</a></div>
        <div class="table-body-cell">15100 Mooresville Road</div>
        <div class="table-body-cell">Morresville</div>
        <div class="table-body-cell">Iredell</div>
        <div class="table-body-cell">
          <span class="newline">$21.00 / $15.00 Seniors 60+ **Cash Only** </span>
          <span class="newline">Price includes Admission &amp; Wagon Ride</span>
          <span class="newline">Mon - Sat 9:00am - 5:30pm, arrive by 4:00pm</span>
          <span class="newline">Sun 12:00pm - 5:30pm, arrive by 4:00pm</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://naturalsciences.org/" target="_blank">NC Museum of Natural Sciences</a></div>
        <div class="table-body-cell">11 West Jones Street</div>
        <div class="table-body-cell">Raleigh</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell">
          <span class="newline">Free General Admission</span>
          <span class="newline">Tue - Sun 10:00am - 5:00pm</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://www.shwpark.com/" target="_blank">Sylvan Heights Bird Park</a></div>
        <div class="table-body-cell">500 Sylvan Heights Park Way</div>
        <div class="table-body-cell">Scotland Neck</div>
        <div class="table-body-cell">Halifax</div>
        <div class="table-body-cell">
          <span class="newline">$12.00 / $11.00 Seniors 62+</span>
          <span class="newline">9:00am - 5:00pm daily</span>
        </div>
      </div>

    </div>
  </div>

  <h2 class="pagebreak">Aquariums (choose one)</h2>
  <div class="table table-ride-wild">

    <div class="table-header">
      <div class="table-header-cell">Establishment</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Notes</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"><a href="https://www.ncaquariums.com/fort-fisher" target="_blank">NC Aquarium at Fort Fisher</a></div>
        <div class="table-body-cell">900 Loggerhead Road</div>
        <div class="table-body-cell">Kure Beach</div>
        <div class="table-body-cell">New Hanover</div>
        <div class="table-body-cell">
          <span class="newline">$12.95 / $11.95 Seniors 62+</span>
          <span class="newline">9:00am - 5:00pm daily</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://www.ncaquariums.com/roanoke-island" target="_blank">NC Aquarium at Roanoke Island</a></div>
        <div class="table-body-cell">374 Airport Road</div>
        <div class="table-body-cell">Manteo</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell">
          <span class="newline">$12.95 / $11.95 Seniors 62+</span>
          <span class="newline">9:00am - 5:00pm daily</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://www.ncaquariums.com/pine-knoll-shores" target="_blank">NC Aquarium at Pine Knoll Shores</a></div>
        <div class="table-body-cell">1 Roosevelt Blvd</div>
        <div class="table-body-cell">Pine Knoll Shores</div>
        <div class="table-body-cell">Carteret</div>
        <div class="table-body-cell">
          <span class="newline">$12.95 / $11.95 Seniors (62+)</span>
          <span class="newline">9:00am - 5:00pm daily</span>
        </div>
      </div>

    </div>
  </div>

  <h2>Big Cats Rescues (choose one)</h2>
  <div class="table table-ride-wild">

    <div class="table-header">
      <div class="table-header-cell">Establishment</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Notes</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"><a href="https://animalparknc.org/" target="_blank">Animal Park at the Conservators Center</a></div>
        <div class="table-body-cell">676 E. Hughes Mill Road</div>
        <div class="table-body-cell">Burlington</div>
        <div class="table-body-cell">Alamance</div>
        <div class="table-body-cell">
          <span class="newline">Different tours available, visit website to see options</span>
          <span class="newline"></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"><a href="https://carolinatigerrescue.org/" target="_blank">Carolina Tiger Rescue</a></div>
        <div class="table-body-cell">1940 Hanks Chapel Road</div>
        <div class="table-body-cell">Pittsboro</div>
        <div class="table-body-cell">Chatham</div>
        <div class="table-body-cell">
          <span class="newline">Four different tours available by reservation only</span>
          <span class="newline">Visit website for tour prices and times</span>
        </div>
      </div>

    </div>
  </div>

  <footer>
    <p><b>Hours and prices may vary by season. Check websites before planning your trip.</b></p>
  </footer>

</body>

</html>
