<!--
  use this template to create the list for the NC 100 Counties
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NC 100 Counties Guidelines</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>

  <section class="guidelines">
    <h1>Raleigh HOG North Carolina 100 Counties Patch Guidelines</h1>
    <div class="rules">
      <ul>
        <li>Each participant must register prior to logging visits to any counties</li>
        <li>Each participant is required to maintain a log of each county visited
          <ul>
            <li>A log and counties map is included with this document</li>
          </ul>
        </li>
        <li>Log should be signed and turned in with documented visits to all 100 North Carolina counties</li>
        <li>Visits to a county can be documented in either of two ways;
          <ol>
            <li>A fellow Raleigh HOG member, who also visited the county on an H-D motorcycle with the participant, may act as a witness and sign the log for the county visited</li>
            <li>Participant may provide a photo. The photo must include the participant, any unique county landmark and the participant's Harley-Davidson motorcycle</li>
          </ol>
        </li>
        <li>Ride leaders are encouraged to provide ride participants with a list of counties included in a ride</li>
      </ul>
    </div>
  </section>

  <section class="county-log1">
    <h2 class="pagebreak">North Carolina 100 Counties Log</h2>
    <div class="row">
      <div class="column">
        <div class="table table-counties">
          <div class="table-header">
            <div class="table-header-cell">County</div>
            <div class="table-header-cell">Date</div>
            <div class="table-header-cell">Print HOG Witness Name</div>
            <div class="table-header-cell">HOG Witness Signature</div>
            <div class="table-header-cell">Photo (Y/N)</div>
          </div>

          <div class="table-body">
            <div class="table-row">
              <div class="table-body-cell">Alamance</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Alexander</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Alleghany</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Anson</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Ashe</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Avery</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Beaufort</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Bertie</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Bladen</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Brunswick</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Buncombe</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Burke</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Cabarrus</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Caldwell</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Camden</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Carteret</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Caswell</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Catawba</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Chatham</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Cherokee</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Chowan</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Clay</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Cleveland</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Columbus</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Craven</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="table table-counties">
          <div class="table-header">
            <div class="table-header-cell">County</div>
            <div class="table-header-cell">Date</div>
            <div class="table-header-cell">Print HOG Witness Name</div>
            <div class="table-header-cell">HOG Witness Signature</div>
            <div class="table-header-cell">Photo (Y/N)</div>
          </div>

          <div class="table-body">
            <div class="table-row">
              <div class="table-body-cell">Cumberland</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Currituck</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Dare</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Davidson</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Davie</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Duplin</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Durham</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Edgecombe</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Forsyth</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Franklin</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Gaston</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Graham</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Granville</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Greene</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Guilford</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Halifax</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Harnett</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Haywood</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Henderson</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Hertford</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Hoke</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Clay</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Hyde</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Iredell</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Jackson</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rider-info">
      <p>Member name:</p>
      <p>Signature:</p>
      <p>Date:</p>
    </div>

    <footer>page 1 of 2</footer>
  </section>

  <section class="county-log2">
    <h2 class="pagebreak">North Carolina 100 Counties Log</h2>
    <div class="row">
      <div class="column">
        <div class="table table-counties">
          <div class="table-header">
            <div class="table-header-cell">County</div>
            <div class="table-header-cell">Date</div>
            <div class="table-header-cell">Print HOG Witness Name</div>
            <div class="table-header-cell">HOG Witness Signature</div>
            <div class="table-header-cell">Photo (Y/N)</div>
          </div>

          <div class="table-body">
            <div class="table-row">
              <div class="table-body-cell">Johnston</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Jones</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Lee</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Lenoir</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Lincoln</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Macon</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Madison</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Martin</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">McDowell</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Mecklenburg</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Mitchell</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Montgomery</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Moore</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Nash</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">New Hanover</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Northampton</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Onslow</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Orange</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Pamlico</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Pasquotank</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Pender</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Perquimans</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Person</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Pitt</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Polk</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="table table-counties">
          <div class="table-header">
            <div class="table-header-cell">County</div>
            <div class="table-header-cell">Date</div>
            <div class="table-header-cell">Print HOG Witness Name</div>
            <div class="table-header-cell">HOG Witness Signature</div>
            <div class="table-header-cell">Photo (Y/N)</div>
          </div>

          <div class="table-body">
            <div class="table-row">
              <div class="table-body-cell">Randolph</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Richmond</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Robeson</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Rockingham</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Rowan</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Rutherford</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Sampson</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Scotland</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Stanly</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Stokes</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Surry</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Swain</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Translvania</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Tyrrell</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Union</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Vance</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Wake</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Warren</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Washington</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Watauga</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Wayne</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Wilkes</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Wilson</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Yadkin</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-body-cell">Yancey</div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
              <div class="table-body-cell"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rider-info">
      <p>Member name:</p>
      <p>Signature:</p>
      <p>Date:</p>
    </div>

    <footer>page 2 of 2</footer>
  </section>

  <section class="county-map">
    <h2 class="pagebreak">North Carolina Counties Map</h2>
    <img src="../images/ncCountyMap2.jpg">

    <div class="rider-info">
      <p>Member name:</p>
      <p>Date:</p>
    </div>
  </section>

</body>

</html>
