<!--
  use this template to create the table for the Chowhound Patch checklist
  add/remove locales as needed
  the list is alphabetized by city
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chowhound Checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>Chowhound Patch Checklist</h1>
  <div class="table table-chowhound">

    <div class="table-header">
      <div class="table-header-cell">Visit</div>
      <div class="table-header-cell">Establishment</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Date Opened</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Pik N Pig</div>
        <div class="table-body-cell">194 Gilliam McConnell Rd</div>
        <div class="table-body-cell">Carthage</div>
        <div class="table-body-cell">Moore</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Jones Cafe</div>
        <div class="table-body-cell">415 E Main St</div>
        <div class="table-body-cell">Clayton</div>
        <div class="table-body-cell">Johnston</div>
        <div class="table-body-cell">1958</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Grady's Barbecue</div>
        <div class="table-body-cell">3096 Arrington Bridge Road</div>
        <div class="table-body-cell">Dudley</div>
        <div class="table-body-cell">Wayne</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Heath's Steakhouse</div>
        <div class="table-body-cell">316 S Powell Ave</div>
        <div class="table-body-cell">Dunn</div>
        <div class="table-body-cell">Harnett</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Wilber's Barbecue</div>
        <div class="table-body-cell">4172 US-70</div>
        <div class="table-body-cell">Goldsboro</div>
        <div class="table-body-cell">Wayne</div>
        <div class="table-body-cell">1965</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Hops Burger Bar</div>
        <div class="table-body-cell">2419 Spring Garden St</div>
        <div class="table-body-cell">Greensboro</div>
        <div class="table-body-cell">Guilford</div>
        <div class="table-body-cell">Fox News Best Burger in NC</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">
          <span class="newline">B's Barbecue</span>
          <span class="newline">or</span>
          <span class="newline">Parker's Barbecue</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">751 B's Barbecue Rd</span>
          <span class="newline empty-space">space</span>
          <span class="newline">3109 Memorial Dr</span>
        </div>
        <div class="table-body-cell">Greenville</div>
        <div class="table-body-cell">Pitt</div>
        <div class="table-body-cell">
          <span class="newline">1978</span>
          <span class="newline empty-space">space</span>
          <span class="newline empty-space">space</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Acme Pizza</div>
        <div class="table-body-cell">204 Village Walk Dr</div>
        <div class="table-body-cell">Holly Springs</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">
          <span class="newline">Lexington Barbecue</span>
          <span class="newline">or</span>
          <span class="newline">Barbecue Center</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">100 Smokehouse Ln</span>
          <span class="newline empty-space">space</span>
          <span class="newline">900 N Main St</span>
        </div>
        <div class="table-body-cell">Lexington</div>
        <div class="table-body-cell">Davidson</div>
        <div class="table-body-cell"><span class="newline">1962</span>
          <span class="newline empty-space">space</span>
          <span class="newline empty-space">space</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">
          <span class="newline">El's Drive-In</span>
          <span class="newline">or</span>
          <span class="newline">El's East</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">3706 Arendell St</span>
          <span class="newline empty-space">space</span>
          <span class="newline">138 Hwy 70</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Morehead City</span>
          <span class="newline empty-space">space</span>
          <span class="newline">Smyrna</span>
        </div>
        <div class="table-body-cell">Carteret</div>
        <div class="table-body-cell">
          <span class="newline">1959 (closed 3-6 months for renovations as of 18 Apr 2024)</span>
          <span class="newline empty-space">space</span>
          <span class="newline">**Cash only**</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">
          <span class="newline">The Roast Grill</span>
          <span class="newline">or</span>
          <span class="newline">Cloos' Coney Island</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">7 S West St</span>
          <span class="newline empty-space">space</span>
          <span class="newline">2233 Avent Ferry Rd</span>
        </div>
        <div class="table-body-cell">Raleigh</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell">
          <span class="newline">1940</span>
          <span class="newline empty-space">space</span>
          <span class="newline">1933</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Short Sugar's Pit Bar-B-Q</div>
        <div class="table-body-cell">1328 S Scales St</div>
        <div class="table-body-cell">Reidsville</div>
        <div class="table-body-cell">Rockingham</div>
        <div class="table-body-cell">1949</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Anthony's Cafe</div>
        <div class="table-body-cell">132 S Church St</div>
        <div class="table-body-cell">Rocky Mount</div>
        <div class="table-body-cell">Nash</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Johnson's Drive-In</div>
        <div class="table-body-cell">1520 E 11th St</div>
        <div class="table-body-cell">Siler City</div>
        <div class="table-body-cell">Chatham</div>
        <div class="table-body-cell">1946</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Bill's Hot Dogs</div>
        <div class="table-body-cell">109 Gladden St</div>
        <div class="table-body-cell">Washington</div>
        <div class="table-body-cell">Beaufort</div>
        <div class="table-body-cell">1928</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">
          <span class="newline">Flo's Kitchen</span>
          <span class="newline">or</span>
          <span class="newline">Dick's Hot Dog Stand</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">1015 Goldsboro St S</span>
          <span class="newline empty-space">space</span>
          <span class="newline">1500 Nash St N</span>
        </div>
        <div class="table-body-cell">Wilson</div>
        <div class="table-body-cell">Wilson</div>
        <div class="table-body-cell"><span class="newline">Flo's closes @ 2:00pm</span>
          <span class="newline empty-space">space</span>
          <span class="newline">1921</span>
        </div>
      </div>

    </div>
  </div>

  <footer class="pagebreak">
    <p><b>Visit a minimum of 10 <em>different</em> establishments to earn this patch</b></p>
    <p>A lot of locations are only open until lunch, check times</p>
  </footer>

</body>

</html>
