<!--
  use this template to create the table for the Everyday Is Tuesday Patch checklist
  add/remove locales as needed
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Everyday is Tuesday</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>Everyday is Tuesday Patch Checklist</h1>
  <div class="table table-taco">

    <div class="table-header">
      <div class="table-header-cell">Visited</div>
      <div class="table-header-cell">Establishment</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Notes</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">White Duck Taco Shop</div>
        <div class="table-body-cell">
          <span class="newline empty-space">space</span>
          <span class="newline">388 Riverside Dr</span>
          <span class="newline">500 7th Ave E</span>
        </div>
        <div class="table-body-cell">
          <span class="newline empty-space">space</span>
          <span class="newline">Asheville</span>
          <span class="newline">Hendersonville</span>
        </div>
        <div class="table-body-cell">
          <span class="newline empty-space">space</span>
          <span class="newline">Buncombe</span>
          <span class="newline">Henderson</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">visit only one</span>
          <span class="newline">gravel parking lot</span>
          <span class="newline">street parking, closed Monday</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Taqueria La Monarca</div>
        <div class="table-body-cell">2530 US-421</div>
        <div class="table-body-cell">Boone</div>
        <div class="table-body-cell">Watauga</div>
        <div class="table-body-cell">closed Sunday</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Flaming Amy's Burrito Barn</div>
        <div class="table-body-cell">
          <span class="newline">1140-A N Lake Park Blvd</span>
          <span class="newline">4002 Oleander Dr</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Carolina Beach</span>
          <span class="newline">Wilmington</span>
        </div>
        <div class="table-body-cell">New Hanover</div>
        <div class="table-body-cell">
          <span class="newline">visit only one</span>
          <span class="newline">both closed Monday</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Gonza Tacos y Tequila</div>
        <div class="table-body-cell">
          <span class="newline">525 New Waverly Place #104</span>
          <span class="newline">7713 Lead Mine Rd #39</span>
          <span class="newline">1849 S Main St</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Cary</span>
          <span class="newline">Raleigh</span>
          <span class="newline">Wake Forest</span>
        </div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Bartaco</div>
        <div class="table-body-cell">
          <span class="newline">201 S Estes Dr Suite E3</span>
          <span class="newline">16916 Birkdale Commons Pkwy D</span>
          <span class="newline">4121 Main at North Hills St Suite 105</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Chapel Hill</span>
          <span class="newline">Huntersville</span>
          <span class="newline">Raleigh</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Orange</span>
          <span class="newline">Mecklenburg</span>
          <span class="newline">Wake</span>
        </div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Tacos 4 Life</div>
        <div class="table-body-cell">
          <span class="newline">3351 Pineville-Matthews Rd #300</span>
          <span class="newline">4923 Trojan Dr</span>
          <span class="newline">2940 Derita Road #40</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Charlotte</span>
          <span class="newline">Charlotte</span>
          <span class="newline">Concord</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Mecklenburg</span>
          <span class="newline">Mecklenburg</span>
          <span class="newline">Cabarrus</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">visit only one</span>
          <span class="newline">all closed Sunday</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">NuvoTaco</div>
        <div class="table-body-cell">2512 University Dr</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">
          <span class="newline">limited parking</span>
          <span class="newline">closed Monday &amp; Tuesday</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Crafted</div>
        <div class="table-body-cell">
          <span class="newline empty-space">space</span>
          <span class="newline">220 S Elm St</span>
          <span class="newline">119 W Clay St</span>
        </div>
        <div class="table-body-cell">
          <span class="newline empty-space">space</span>
          <span class="newline">Greensboro</span>
          <span class="newline">Mebane</span>
        </div>
        <div class="table-body-cell">
          <span class="newline empty-space">space</span>
          <span class="newline">Guilford</span>
          <span class="newline">Alamance</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">visit only one</span>
          <span class="newline">closed Monday</span>
          <span class="newline">closed Sunday &amp; Monday</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Shaka Taco</div>
        <div class="table-body-cell">
          <span class="newline">2368 Country Club Dr</span>
          <span class="newline">107 N Shore Dr</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Hampstead</span>
          <span class="newline">Surf City</span>
        </div>
        <div class="table-body-cell">Pender</div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Bad Bean Baja Grill</div>
        <div class="table-body-cell">4146 N Croatan Hwy</div>
        <div class="table-body-cell">Kitty Hawk</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell">closed Sunday &amp; Monday</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Islands Fresh Mex Grill</div>
        <div class="table-body-cell">
          <span class="newline">2013 Olde Regent Way #110</span>
          <span class="newline">5620 Carolina Beach Rd</span>
          <span class="newline">6838 Market St</span>
          <span class="newline">310 N Front St #1</span>
          <span class="newline">260 Racine Dr #1</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Leland</span>
          <span class="newline">Wilmington</span>
          <span class="newline">Wilmington</span>
          <span class="newline">Wilmington</span>
          <span class="newline">Wilmington</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Brunswick</span>
          <span class="newline">New Hanover</span>
          <span class="newline">New Hanover</span>
          <span class="newline">New Hanover</span>
          <span class="newline">New Hanover</span>
        </div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Tower 7 Baja Grill</div>
        <div class="table-body-cell">
          <span class="newline">509 Evans St</span>
          <span class="newline">4 N Lumina Ave</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Morehead City</span>
          <span class="newline">Wrightsville Beach</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Carteret</span>
          <span class="newline">New Hanover</span>
        </div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Gym Tacos</div>
        <div class="table-body-cell">
          <span class="newline empty-space">space</span>
          <span class="newline">3701 Hillsborough St</span>
          <span class="newline">1942 Wake Forest Rd</span>
          <span class="newline">411 W Morgan St</span>
        </div>
        <div class="table-body-cell">Raleigh</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell">
          <span class="newline">visit only one</span>
          <span class="newline empty-space">space</span>
          <span class="newline">food truck</span>
          <span class="newline">Morgan St Hall</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Taqueria El Toro</div>
        <div class="table-body-cell">3600 Junction Blvd</div>
        <div class="table-body-cell">Raleigh</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">The Porch Kitchen &amp; Cantina</div>
        <div class="table-body-cell">840 Mill Works St</div>
        <div class="table-body-cell">Winston-Salem</div>
        <div class="table-body-cell">Forsyth</div>
        <div class="table-body-cell"></div>
      </div>

    </div>
  </div>

  <footer>
    <p style="text-align: left;"><b>**</b> Hours of operation may vary for each location; please verify via Google</p>
    <p><b>Visit a minimum of 12 unique establishments and take a photo that includes your Harley-Davidson motorcycle and the restaurant sign</b></p>
  </footer>

</body>

</html>
