<!--
  use this template to create the table for the NC Memorials and Monuments Patch checklist
  add/remove locales as needed
  the list is alphabetized by city
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Memorials &amp; Monuments Checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>NC Memorials and Monuments Patch Checklist</h1>
  <div class="table table-memorials">

    <div class="table-header">
      <div class="table-header-cell">Visited</div>
      <div class="table-header-cell">Memorial</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Archer Lodge Veteran Memorial</div>
        <div class="table-body-cell">14094 Buffalo Rd</div>
        <div class="table-body-cell">Archer Lodge</div>
        <div class="table-body-cell">Johnston</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Moore County Veteran Memorial</div>
        <div class="table-body-cell">Carriage Oaks Dr</div>
        <div class="table-body-cell">Carthage</div>
        <div class="table-body-cell">Moore</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Veterans Freedom Park</div>
        <div class="table-body-cell">1517 North Harrison Ave</div>
        <div class="table-body-cell">Cary</div>
        <div class="table-body-cell">Wake</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Orange County Veterans Memorial Site</div>
        <div class="table-body-cell">2501 Homestead Rd</div>
        <div class="table-body-cell">Chapel Hill</div>
        <div class="table-body-cell">Orange</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Veterans Memorial Park</div>
        <div class="table-body-cell">2136 Central Ave</div>
        <div class="table-body-cell">Charlotte</div>
        <div class="table-body-cell">Mecklenburg</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Cornelius Veterans Monument</div>
        <div class="table-body-cell">20017 NC-115</div>
        <div class="table-body-cell">Cornelius</div>
        <div class="table-body-cell">Mecklenburg</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Vietnam Veterans Living Memorial</div>
        <div class="table-body-cell">600 W Murray Ave</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">Durham</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">NC Veterans Park</div>
        <div class="table-body-cell">300 Bragg Blvd</div>
        <div class="table-body-cell">Fayetteville</div>
        <div class="table-body-cell">Cumberland</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Garner Veterans Memorial</div>
        <div class="table-body-cell">921 Buffaloe Road</div>
        <div class="table-body-cell">Garner</div>
        <div class="table-body-cell">Wake</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Veterans Memorial</div>
        <div class="table-body-cell">235 E Walnut St</div>
        <div class="table-body-cell">Goldsboro</div>
        <div class="table-body-cell">Wayne</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Guilford County Veterans Memorial<sup><b>*</b></sup></div>
        <div class="table-body-cell">3905 Nathanael Green Dr</div>
        <div class="table-body-cell">Greensboro</div>
        <div class="table-body-cell">Guilford</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Veterans Park</div>
        <div class="table-body-cell">600 Bikram Dr</div>
        <div class="table-body-cell">Holly Springs</div>
        <div class="table-body-cell">Wake</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Lejeune Memorial Gardens</div>
        <div class="table-body-cell">110 Montford Landing Rd</div>
        <div class="table-body-cell">Jacksonville</div>
        <div class="table-body-cell">Onslow</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Carolina Field of Honor</div>
        <div class="table-body-cell">9652 W Market St</div>
        <div class="table-body-cell">Kernersville</div>
        <div class="table-body-cell">Forsyth</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Harnett County Veterans Park</div>
        <div class="table-body-cell">299 W Cornelius Harnett Blvd</div>
        <div class="table-body-cell">Lillington</div>
        <div class="table-body-cell">Harnett</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Veterans Memorial Garden</div>
        <div class="table-body-cell">N 2nd St</div>
        <div class="table-body-cell">Mebane</div>
        <div class="table-body-cell">Alamance</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Mint Hill Veterans Memorial Park</div>
        <div class="table-body-cell">8850 Fairview Rd</div>
        <div class="table-body-cell">Mint Hill</div>
        <div class="table-body-cell">Mecklenburg</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">NC Vietnam Veterans Memorial Park</div>
        <div class="table-body-cell">I-85 Davidson County Rest Area</div>
        <div class="table-body-cell">Thomasville</div>
        <div class="table-body-cell">Davidson</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Veterans Memorial</div>
        <div class="table-body-cell">1234 Heritage Club Ave</div>
        <div class="table-body-cell">Wake Forest</div>
        <div class="table-body-cell">Wake</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Veterans Memorial</div>
        <div class="table-body-cell">N Water St</div>
        <div class="table-body-cell">Wilmington</div>
        <div class="table-body-cell">New Hanover</div>
      </div>

    </div>
  </div>

  <footer>
    <p><b>*</b>Guilford Co Veterans Memorial is behind, and across the lake from, the Natural Science Center of Greensboro</p>
    <p><b>Visit a minimum of 10 sites to earn this patch</b></p>
  </footer>

</body>

</html>
