<!--
  use this template to create the table for the Weenie Patch checklist
  add/remove locales as needed
  the list is alphabetized by city
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weenie Checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>Weenie Patch Checklist</h1>
  <div class="table table-weenie">

    <div class="table-header">
      <div class="table-header-cell">Visited</div>
      <div class="table-header-cell">Establishment</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Notes</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Zack's Hot Dogs</div>
        <div class="table-body-cell">201 West Davis St</div>
        <div class="table-body-cell">Burlington</div>
        <div class="table-body-cell">Alamance</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Grocery Bag</div>
        <div class="table-body-cell">4879 NC-42</div>
        <div class="table-body-cell">Clayton</div>
        <div class="table-body-cell">Johnston</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Jimmy's Famous Hot Dogs</div>
        <div class="table-body-cell">
          <span class="newline">2728 Guess Rd</span>
          <span class="newline">4435 Highway 55</span>
        </div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">King's Sandwich Shop</div>
        <div class="table-body-cell">701 Foster St</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">closed Sun</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Hot Diggidy Dog</div>
        <div class="table-body-cell">106 Roxie Ave</div>
        <div class="table-body-cell">Fayetteville</div>
        <div class="table-body-cell">Cumberland</div>
        <div class="table-body-cell">closed Sun</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Snoopy's Hot Dogs &amp; More</div>
        <div class="table-body-cell">
          <span class="newline">82-101 Glen Rd</span>
          <span class="newline">3600 Hillsborough St</span>
          <span class="newline">2431 Spring Forest Rd</span>
          <span class="newline">1931 Wake Forest Rd</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Garner</span>
          <span class="newline">Raleigh</span>
          <span class="newline">Raleigh</span>
          <span class="newline">Raleigh</span>
        </div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Charlie Graingers</div>
        <div class="table-body-cell">2450 N Center St</div>
        <div class="table-body-cell">Hickory</div>
        <div class="table-body-cell">Catawba</div>
        <div class="table-body-cell">closed Sun</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Ma's Hot Dog House</div>
        <div class="table-body-cell">2515 U.S. Hwy 258 South</div>
        <div class="table-body-cell">Kinston</div>
        <div class="table-body-cell">Lenoir</div>
        <div class="table-body-cell">closed Sun</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Capt'n Franks</div>
        <div class="table-body-cell">3800 North Croatan Hwy</div>
        <div class="table-body-cell">Kitty Hawk</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell">closed Sun &amp; Mon</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Paul's Place Famous Hotdogs</div>
        <div class="table-body-cell">11725 US-117</div>
        <div class="table-body-cell">Rocky Point</div>
        <div class="table-body-cell">Pender</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Shorty's Famous Hot Dogs</div>
        <div class="table-body-cell">214 S White Street</div>
        <div class="table-body-cell">Wake Forest</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell">closed Sun</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Bill's Hot Dog Stand</div>
        <div class="table-body-cell">109 Gladden St</div>
        <div class="table-body-cell">Washington</div>
        <div class="table-body-cell">Beaufort</div>
        <div class="table-body-cell">closed Sun</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Dick's Hot Dog Stand</div>
        <div class="table-body-cell">1500 Nash St N</div>
        <div class="table-body-cell">Wilson</div>
        <div class="table-body-cell">Wilson</div>
        <div class="table-body-cell">closed Mon</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Kermit's Hot Dog House</div>
        <div class="table-body-cell">2220 Thomasville Rd</div>
        <div class="table-body-cell">Winston-Salem</div>
        <div class="table-body-cell">Forsyth</div>
        <div class="table-body-cell">closed Sun</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Trolly Stop</div>
        <div class="table-body-cell">94 South Lumina Ave</div>
        <div class="table-body-cell">Wrightsville Beach</div>
        <div class="table-body-cell">New Hanover</div>
        <div class="table-body-cell"></div>
      </div>

    </div>
  </div>

  <footer>
    <p><b>Visit a minimum of 12 <em>different</em> establishments and take a photo that includes your Harley-Davidson motorcycle and the restaurant sign</b></p>
  </footer>

</body>

</html>
