<!--
  use this template to create the checklist for the Ice Cream patch
  add/remove locales as needed
  establishments are alphabetized by city
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ice Cream Checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>Ice Cream Patch Checklist</h1>
  <div class="table table-icecream">

    <div class="table-header">
      <div class="table-header-cell">Visited</div>
      <div class="table-header-cell">Establishment</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Notes</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Sunni Sky's Homemade Ice Cream <b>*</b></div>
        <div class="table-body-cell">8617 NC-55</div>
        <div class="table-body-cell">Angier</div>
        <div class="table-body-cell">Harnett</div>
        <div class="table-body-cell">open Mar 1st - Dec 1st</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">FRESH. Local Ice Cream <b>*</b></div>
        <div class="table-body-cell">
          <span class="newline">109 N Salem St</span>
          <span class="newline">138 E Chatham St</span>
          <span class="newline">6033 Glenwood Ave</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Apex</span>
          <span class="newline">Cary</span>
          <span class="newline">Raleigh</span>
        </div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">The Hop Ice Cream Cafe <b>*</b></div>
        <div class="table-body-cell">640 Merrimon Ave #103</div>
        <div class="table-body-cell">Asheville</div>
        <div class="table-body-cell">Buncombe</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">The Hop Ice Creamery</div>
        <div class="table-body-cell">167 Haywood Rd #20</div>
        <div class="table-body-cell">Asheville</div>
        <div class="table-body-cell">Buncombe</div>
        <div class="table-body-cell">
          <span class="newline">11:00am - 2:00pm daily</span>
          <span class="newline">closed Sun</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Ultimate Ice Cream Company <b>*</b></div>
        <div class="table-body-cell">
          <span class="newline">195 Charlotte St</span>
          <span class="newline">1070 Tunnel Rd</span>
        </div>
        <div class="table-body-cell">Asheville</div>
        <div class="table-body-cell">Buncombe</div>
        <div class="table-body-cell">
          <span class="newline">visit only one</span>
          <span class="newline">both closed Mon</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Simply Natural Creamery <b>*</b></div>
        <div class="table-body-cell">
          <span class="newline">1265 Carson Edwards Rd</span>
          <span class="newline">317 E Arlington Blvd</span>
          <span class="newline">4950 Arendell St Suite H</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Ayden</span>
          <span class="newline">Greenville</span>
          <span class="newline">Morehead City</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Pitt</span>
          <span class="newline">Pitt</span>
          <span class="newline">Carteret</span>
        </div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Calabash Creamery</div>
        <div class="table-body-cell">9910 Beach Dr SW</div>
        <div class="table-body-cell">Calabash</div>
        <div class="table-body-cell">Brunswick</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Celtic Creamery</div>
        <div class="table-body-cell">
          <span class="newline">201 N Lake Park Blvd</span>
          <span class="newline">227 7th Ave E</span>
          <span class="newline">257 NC-210</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Carolina Beach</span>
          <span class="newline">Hendersonville</span>
          <span class="newline">Smithfield</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">New Hanover</span>
          <span class="newline">Henderson</span>
          <span class="newline">Johnston</span>
        </div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Andia's Homemade Ice Cream</div>
        <div class="table-body-cell">
          <span class="newline">10120 Green Level Church Road #208</span>
          <span class="newline">1008 Ryan Rd</span>
        </div>
        <div class="table-body-cell">Cary</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell">
          <span class="newline">visit only one</span>
          <span class="newline">both closed Mon</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Honeycutt Farms Creamery</div>
        <div class="table-body-cell">919 NC 55</div>
        <div class="table-body-cell">Coats</div>
        <div class="table-body-cell">Harnett</div>
        <div class="table-body-cell">
          <span class="newline">open Fri, Sat &amp; Sun</span>
          <span class="newline">gravel parking lot</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Cabarrus Creamery <b>*</b></div>
        <div class="table-body-cell">21 Union St S #5009</div>
        <div class="table-body-cell">Concord</div>
        <div class="table-body-cell">Cabarrus</div>
        <div class="table-body-cell">closed Mon</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Big Buck's Homemade Ice Cream <b>*</b></div>
        <div class="table-body-cell">
          <span class="newline">794 Sunset Blvd, F</span>
          <span class="newline">1180 Duck Rd</span>
          <span class="newline">3810 N Croatan Hwy</span>
          <span class="newline">207 Queen Elizabeth Ave</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Corolla</span>
          <span class="newline">Duck</span>
          <span class="newline">Kitty Hawk</span>
          <span class="newline">Manteo</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Currituck</span>
          <span class="newline">Dare</span>
          <span class="newline">Dare</span>
          <span class="newline">Dare</span>
        </div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row pagebreak">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Hopper's Poppers</div>
        <div class="table-body-cell">
          <span class="newline">468 Trade St</span>
          <span class="newline">234 N Madison Blvd</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Danville, VA</span>
          <span class="newline">Roxboro</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">n/a</span>
          <span class="newline">Person</span>
        </div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">The Parlour <b>*</b></div>
        <div class="table-body-cell">117 Market St</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Jack the Dipper Ice Cream <b>*</b></div>
        <div class="table-body-cell">
          <span class="newline">1024 Georgia Rd</span>
          <span class="newline">280 Asheville Hwy Suite 4</span>
          <span class="newline">76 Waynesville Plaza</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Franklin</span>
          <span class="newline">Sylva</span>
          <span class="newline">Waynesville</span>
        </div>
        <div class="table-body-cell">
          <span class="newline">Macon</span>
          <span class="newline">Jackson</span>
          <span class="newline">Haywood</span>
        </div>
        <div class="table-body-cell">visit only one</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Tony's Ice Cream Company <b>*</b></div>
        <div class="table-body-cell">604 East Franklin Boulevard</div>
        <div class="table-body-cell">Gastonia</div>
        <div class="table-body-cell">Gaston</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Stay Sweet Bakery &amp; Ice Cream</div>
        <div class="table-body-cell">469 Buck Swamp Rd</div>
        <div class="table-body-cell">Goldsboro</div>
        <div class="table-body-cell">Wayne</div>
        <div class="table-body-cell">closed Mon</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Yum Yum Better Ice Cream <b>*</b></div>
        <div class="table-body-cell">1219 Spring Garden St</div>
        <div class="table-body-cell">Greensboro</div>
        <div class="table-body-cell">Guilford</div>
        <div class="table-body-cell">closed Sun</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Mike's On Main <b>*</b></div>
        <div class="table-body-cell">303 N Main St</div>
        <div class="table-body-cell">Hendersonville</div>
        <div class="table-body-cell">Henderson</div>
        <div class="table-body-cell">closed Sun</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Eno River Farm</div>
        <div class="table-body-cell">2127 St Marys Rd</div>
        <div class="table-body-cell">Hillsborough</div>
        <div class="table-body-cell">Orange</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Maple View Farm Ice Cream <b>*</b></div>
        <div class="table-body-cell">6900 Rocky Ridge Rd</div>
        <div class="table-body-cell">Hillsborough</div>
        <div class="table-body-cell">Orange</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Beaches -N- Cream <b>*</b></div>
        <div class="table-body-cell">3316 Holden Beach Rd SW</div>
        <div class="table-body-cell">Holden Beach</div>
        <div class="table-body-cell">Brunswick</div>
        <div class="table-body-cell">closed Mon, Tue &amp; Wed</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">JT's Creamery</div>
        <div class="table-body-cell">300 S Main St</div>
        <div class="table-body-cell">Holly Springs</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell">closed Mon</div>
      </div>
      
      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Mama Bird's Ice Cream</div>
        <div class="table-body-cell">304 N Main St</div>
        <div class="table-body-cell">Holly Springs</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Homeland Creamery <b>*</b></div>
        <div class="table-body-cell">6506 Bowman Dairy Rd</div>
        <div class="table-body-cell">Julian</div>
        <div class="table-body-cell">Guilford</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Kill Devil's Frozen Custard &amp; Beach Fries <b>*</b></div>
        <div class="table-body-cell">1002 S Croatan Hwy</div>
        <div class="table-body-cell">Kill Devil Hills</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell">closed Mon, Tue &amp; Wed</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Scoops Homemade Ice Cream</div>
        <div class="table-body-cell">710 S Croatan Hwy</div>
        <div class="table-body-cell">Kill Devil Hills</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Beans &amp; Cream</div>
        <div class="table-body-cell">810 S Main St</div>
        <div class="table-body-cell">Lillington</div>
        <div class="table-body-cell">Harnett</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Scoops Ice Cream Shop</div>
        <div class="table-body-cell">151 N Main St</div>
        <div class="table-body-cell">Mocksville</div>
        <div class="table-body-cell">Davie</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Scoops Ice Cream &amp; Such</div>
        <div class="table-body-cell">5091 W Pine St</div>
        <div class="table-body-cell">Mount Airy</div>
        <div class="table-body-cell">Surry</div>
        <div class="table-body-cell">closed Mon &amp; Tue</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Southern Snow Company</div>
        <div class="table-body-cell">935 College St</div>
        <div class="table-body-cell">Oxford</div>
        <div class="table-body-cell">Granville</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Dolly's Dairy Bar &amp; Gift Shop <b>*</b></div>
        <div class="table-body-cell">128 Pisgah Hwy</div>
        <div class="table-body-cell">Pisgah Forest</div>
        <div class="table-body-cell">Transylvania</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">S &amp; T's Soda Shoppe <b>*</b></div>
        <div class="table-body-cell">85 Hillsboro St</div>
        <div class="table-body-cell">Pittsboro</div>
        <div class="table-body-cell">Chatham</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Howling Cow Dairy Ed. Center &amp; Creamery <b>*</b></div>
        <div class="table-body-cell">100 Dairy Ln</div>
        <div class="table-body-cell">Raleigh</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell">gravel drive &amp; parking lot</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Fairview Dairy Bar</div>
        <div class="table-body-cell">108 Carbonton Rd</div>
        <div class="table-body-cell">Sanford</div>
        <div class="table-body-cell">Lee</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Yarborough's Homemade Ice Cream &amp; Grill</div>
        <div class="table-body-cell">132 McIver St #4341</div>
        <div class="table-body-cell">Sanford</div>
        <div class="table-body-cell">Lee</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row pagebreak">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Peaches n' Cream <b>*</b></div>
        <div class="table-body-cell">2735 US-74</div>
        <div class="table-body-cell">Wadesboro</div>
        <div class="table-body-cell">Anson</div>
        <div class="table-body-cell"></div>
      </div>
      
      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Lumpy's Ice Cream <b>*</b></div>
        <div class="table-body-cell">306 Wait Ave</div>
        <div class="table-body-cell">Wake Forest</div>
        <div class="table-body-cell">Wake</div>
        <div class="table-body-cell"></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Waxhaw Creamery <b>*</b></div>
        <div class="table-body-cell">109 E North Main St</div>
        <div class="table-body-cell">Waxhaw</div>
        <div class="table-body-cell">Union</div>
        <div class="table-body-cell">closed Mon</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Cafe Gelato <b>*</b></div>
        <div class="table-body-cell">845 Reynolda Rd NW</div>
        <div class="table-body-cell">Winston-Salem</div>
        <div class="table-body-cell">Forsyth</div>
        <div class="table-body-cell">closed Mon</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Scoops on Main</div>
        <div class="table-body-cell">116 E Main St</div>
        <div class="table-body-cell">Youngsville</div>
        <div class="table-body-cell">Franklin</div>
        <div class="table-body-cell">closed Sun</div>
      </div>

    </div>
  </div>

  <footer>
    <p><b>Visit a minimum of 20 <em>different</em> establishments to earn this patch</b></p>
    <p>Read <a href="https://www.ourstate.com/ice-cream-shops-in-north-carolina/" target="_blank"><i>30 North Carolina Ice Cream Shops We Love</i></a> to learn more about the establishments marked with an asterisk (<b>*</b>)</p>
  </footer>

</body>

</html>
