<!--
  use this template to create the list for the Revolutionary War Battlefields
  add/remove locales as needed
  battlefields are alphabetized by name
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Revolutionary War Battlefields</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>

  <h1>Revolutionary War Battlefields Patch Checklist</h1>

  <h3 class="rev-war">Alamance Battleground</h3>
  <p>Here in 1771, an armed rebellion of backcountry farmers called Regulators battled with royal governor William Tryon's militia. The spark for this conflict was growing resentment in the Carolina colony against the taxes, dishonest sheriffs, and illegal fees imposed by the British Crown. In response, the Regulators were formed and began to fight back. Though the rebellion was crushed, a few years later their tactics became a model for the colonists fighting the British in the American Revolutionary War.
    <span class="newline">Google Maps search - 5803 N Carolina 62, Burlington, NC 27215 (Alamance county)</span>
  </p>

  <h3 class="rev-war">Cowpens National Battlefield</h3>
  <p>Battle of Cowpens, fought on January 17, 1781, an American victory over a British force on the northern border of South Carolina that slowed Lord Cornwallis’s campaign to invade North Carolina. The British lost 39 officers and 60 soldiers killed. 829 were captured. 12 Americans were killed and 60 wounded.
    <span class="newline">Google Maps search - 4001 Chesnee Hwy, Gaffney, SC 29341</span>
  </p>

  <h3 class="rev-war">Guilford Courthouse National Military Park</h3>
  <p>The 1781 Battle of Guilford Courthouse, while technically a British victory, cost the British so many casualties that Lord Cornwallis ceased his attempt to retake North Carolina. The modern national military park is within the city of Greensboro, which is part of the Winston-Salem metro area in west-central North Carolina. From downtown Greensboro, head north on US 220 -- Battleground Avenue -- to Old Battleground Road, which goes directly to the park. The park is large enough to tour by car, along a one-way road that passes seven tour stops that describe the battle.
    <span class="newline">Google Maps search - 2332 New Garden Rd, Greensboro, NC 27410 (Guilford county)</span>
  </p>

  <h3 class="rev-war">King Mountain National Military Park</h3>
  <p>The battle of Kings Mountain, fought October 7th, 1780, was an important American victory during the Revolutionary War. The battle was the first major patriot victory to occur after the British invasion of Charleston, SC in May 1780. It was one of the few major battles of the war hour. Americans lost 28, Loyalists lost 225 and 716 were captured. The dead were buried on the battlefield in unmarked graves, they have never been found. King's Mountain saved North Carolina for the time being and bolstered Patriot morale throughout the 13 colonies.
    <span class="newline">Google Maps search - 2625 Park Rd, Blacksburg, SC 29702</span>
  </p>

  <h3 class="rev-war  pagebreak">Ramsour's Mill Battleground</h3>
  <p>Relatively little known, Ramsour's Mill Battleground is historic as an important battle between the Americans and the British (the Americans won). To reach Ramsour's Mill from the Charlotte area, follow US 321 north to Lincolnton, North Carolina. From downtown Lincolnton, follow North Aspen Street until making a left on Paul Lawing Road. The Battle of Ramsour’s Mill State Highway Marker is on Paul Lawing Road. Farther along Paul Lawing is the intersection with Jeb Seagle Road. A left turn on Jeb Seagle leads to some log structures and the graves of some of the participants in the battle. The site is owned by the Lincoln County Historical Association.
    <span class="newline">Google Maps search - Jeb Seagle Dr, Lincolnton, NC 28092 (Lincoln county)</span>
  </p>

  <h3 class="rev-war">Wilmington area - Brunswick Town</h3>
  <p>Wilmington is on the coast near the border with South Carolina and serves as the jumping off point to Brunswick Town State Historic Site, the ruins of a town burned by the British in 1776. To reach Brunswick Town, head west on US 17 from Wilmington, then turn left on North Carolina 133 -- Southeast River Road. Head south on River Road until Southeast Orton Road. Turn left and proceed on Orton to Brunswick Town, which is on a wooded site near the Cape Fear River. It includes a visitors' center, the ruins of the Revolutionary-era town and Civil War era earthworks.
    <span class="newline">Google Maps search - 8884 St Phillips Rd SE Winnabow, NC 28479 (Brunswick county)</span>
  </p>

  <h3 class="rev-war">Wilmington area - Moores Creek National Battlefield</h3>
  <p>North of Wilmington is Moores Creek National Battlefield. Moores Creek was one of the first battles in the South of the Revolutionary War and the first Patriot victory of the war. On February 27, 1776, 1,600 British troops were unaware of what they would encounter as they charged across a partially dismantled Moores Creek Bridge. Just beyond the bridge, 1,000 North Carolina Patriots waited quietly with cannons and muskets to defeat the British. This battle was the end of British rule over North Carolina.
    <span class="newline">Google Maps search - 40 Patriots Hall Dr, Currie, NC 28435 (Pender county)</span>
  </p>

  <footer>
    <p><b>Visit each site and take a photo that includes your Harley-Davidson motorcycle &amp; the battlefield sign</b></p>
  </footer>

</body>

</html>
