<!--
  use this template to create the table for the Burger Trail Patch checklist
  add/remove locales as needed
  the list is alphabetized by city
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NC Burger Trail</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>Burger Trail Patch Checklist</h1>
  <div class="table table-burger">

    <div class="table-header">
      <div class="table-header-cell">Visited</div>
      <div class="table-header-cell">Establishment</div>
      <div class="table-header-cell">Address</div>
      <div class="table-header-cell">City</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Rank</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Brook's Sandwich House</div>
        <div class="table-body-cell">2710 N Brevard St</div>
        <div class="table-body-cell">Charlotte</div>
        <div class="table-body-cell">Mecklenburg</div>
        <div class="table-body-cell">4</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Only Burger</div>
        <div class="table-body-cell">3710 Shannon Rd #118</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">Durham</div>
        <div class="table-body-cell">9</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Emma Keys</div>
        <div class="table-body-cell">2206 Walker Ave</div>
        <div class="table-body-cell">Greensboro</div>
        <div class="table-body-cell">Guilford</div>
        <div class="table-body-cell">10</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Hops Burger Bar</div>
        <div class="table-body-cell">2419 Spring Garden St</div>
        <div class="table-body-cell">Greensboro</div>
        <div class="table-body-cell">Guilford</div>
        <div class="table-body-cell">3</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Duke's Grill</div>
        <div class="table-body-cell">1114 Concord Ave</div>
        <div class="table-body-cell">Monroe</div>
        <div class="table-body-cell">Union</div>
        <div class="table-body-cell">5</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">El's Drive-in</div>
        <div class="table-body-cell">3706 Arendell Street</div>
        <div class="table-body-cell">Morehead City</div>
        <div class="table-body-cell">Carteret</div>
        <div class="table-body-cell">8</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">Johnson's Drive-in</div>
        <div class="table-body-cell">1520 E 11th Street</div>
        <div class="table-body-cell">Siler City</div>
        <div class="table-body-cell">Chatham</div>
        <div class="table-body-cell">6</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell"></div>
        <div class="table-body-cell">P T's Olde Fashioned Grille</div>
        <div class="table-body-cell">8116 Market St</div>
        <div class="table-body-cell">Wilmington</div>
        <div class="table-body-cell">New Hanover</div>
        <div class="table-body-cell">7</div>
      </div>

    </div>
  </div>

  <footer>
    <p><b>Visit each establishment and take a photo that includes your Harley-Davidson motorcycle and the restaurant sign</b></p>
    <p><a href="https://www.onlyinyourstate.com/north-carolina/burger-trail-nc/?fbclid=IwAR2g5-7WImdGhJIVRNmJWmU6D2HtNWuzlTy0jUWFGegQTD7TTlcM4txmlAw" target="_blank">Read the full story here</a> and you'll see there's nothing better than this mouthwatering Burger Trail in North Carolina.</p>
  </footer>

</body>

</html>
