<!--
  use this template to create the table for the Civil War Battlefields Patch checklist
  add/remove locales as needed
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NC Civil War Battlefields</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <h1>NC Civil War Battlefields Patch Checklist</h1>
  <div class="table">

    <div class="table-header">
      <div class="table-header-cell">Battlefield</div>
      <div class="table-header-cell">Date</div>
      <div class="table-header-cell">County</div>
      <div class="table-header-cell">Links</div>
    </div>

    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell">Hatteras Inlet Batteries</div>
        <div class="table-body-cell">Aug 28-29, 1861</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Hatteras_Inlet_Batteries" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC001" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=135883" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Battle of Roanoke Island</div>
        <div class="table-body-cell">Feb 7, 1862</div>
        <div class="table-body-cell">Dare</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Roanoke_Island" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC002" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=11386" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Battle of New Bern</div>
        <div class="table-body-cell">Mar 14, 1862</div>
        <div class="table-body-cell">Craven</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_New_Bern" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC003" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=77003" target="_blank">Historical Marker DB</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=77010" target="_blank">New Bern Battlefield Park</a> (alternate)</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Siege of Fort Macon</div>
        <div class="table-body-cell">Mar 23 - Apr 26, 1862</div>
        <div class="table-body-cell">Carteret</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Fort_Macon" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC004" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=31254" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Battle of South Mills</div>
        <div class="table-body-cell">Apr 19, 1862</div>
        <div class="table-body-cell">Camden</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_South_Mills" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC005" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=57037" target="_blank">Historical Marker DB</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=56761" target="_blank">Historical Marker DB</a> (fight for the canal)</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Tranter's Creek</div>
        <div class="table-body-cell">Jun 5, 1862</div>
        <div class="table-body-cell">Pitt</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Tranter's_Creek" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC006" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=70506" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Kinston Battlefield Park</div>
        <div class="table-body-cell">Dec 14, 1862</div>
        <div class="table-body-cell">Lenoir</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Kinston" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC007" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=70408" target="_blank">Historical Marker DB</a> (other markers nearby)</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Battle of White Hall</div>
        <div class="table-body-cell">Dec 16, 1862</div>
        <div class="table-body-cell">Wayne</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_White_Hall" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC008" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=30542" target="_blank">Historical Marker DB</a> (other markers nearby)</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Battle of Goldsborough Bridge</div>
        <div class="table-body-cell">Dec 17, 1862</div>
        <div class="table-body-cell">Wayne</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Goldsboro_Bridge" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC009" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=28541" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row pagebreak">
        <div class="table-body-cell">Fort Anderson</div>
        <div class="table-body-cell">Mar 13 - 15, 1863</div>
        <div class="table-body-cell">Craven</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Fort_Anderson" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC010" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=6494" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Siege of Washington</div>
        <div class="table-body-cell">Mar 30 - Apr 20, 1863</div>
        <div class="table-body-cell">Beaufort</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Washington" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC011" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=70502" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Siege of Plymouth</div>
        <div class="table-body-cell">Apr 17, 1864</div>
        <div class="table-body-cell">Washington</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Plymouth_(1864)" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC012" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=57025" target="_blank">Historical Marker DB</a> (marker)</span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=76846" target="_blank">Historical Marker DB</a> (memorial)</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Battle of Ablemarle Sound</div>
        <div class="table-body-cell">May 5, 1864</div>
        <div class="table-body-cell">Chowan &amp; Washington</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Albemarle_Sound" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC013" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=34832" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Fort Fisher</div>
        <div class="table-body-cell">Dec 7 - 27, 1864</div>
        <div class="table-body-cell">New Hanover</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/First_Battle_of_Fort_Fisher" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC015" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=28634" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Fall of Wilmington</div>
        <div class="table-body-cell">Feb 22, 1865</div>
        <div class="table-body-cell">New Hanover</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Wilmington" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC016" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=77134" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Battle of Wyse Fork</div>
        <div class="table-body-cell">Mar 7 - 10, 1865</div>
        <div class="table-body-cell">Lenoir</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Wyse_Fork" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC017" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=23554" target="_blank">Historical Marker DB</a> (other markers nearby)</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Monroe's Crossroads</div>
        <div class="table-body-cell">Mar 10, 1865</div>
        <div class="table-body-cell">Hoke </div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Monroe%27s_Cross_Roads" target="_blank">Wikipedia</a></span>
          <span class="newline">?? Nat'l Park Service</span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=31246" target="_blank">Historical Marker DB</a></span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Battle of Averasborough</div>
        <div class="table-body-cell">Mar 16, 1865</div>
        <div class="table-body-cell">Harnett &amp; Cumberland</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Averasborough" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC019" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=5091" target="_blank">Historical Marker DB</a> Union route to Bentonville</span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=5895" target="_blank">Historical Marker DB</a> Sherman's left wing departs Averasboro</span>
        </div>
      </div>

      <div class="table-row">
        <div class="table-body-cell">Battle of Bentonville</div>
        <div class="table-body-cell">Mar 19 - 21, 1865</div>
        <div class="table-body-cell">Johnston</div>
        <div class="table-body-cell">
          <span class="newline"><a href="https://en.wikipedia.org/wiki/Battle_of_Bentonville" target="_blank">Wikipedia</a></span>
          <span class="newline"><a href="https://www.nps.gov/civilwar/search-battles-detail.htm?battleCode=NC020" target="_blank">Nat'l Park Service</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=34331" target="_blank">Historical Marker DB</a></span>
          <span class="newline"><a href="https://www.hmdb.org/m.asp?m=5855" target="_blank">Historical Marker DB</a> (other markers nearby)</span>
        </div>
      </div>

    </div>
  </div>

  <footer>
    <p><b>Visit each site and take a photo that includes your Harley-Davidson motorcycle &amp; the battlefield sign</b></p>
  </footer>

  <div class="table refcivilwar pagebreak">
    <div class="table-caption">References:</div>
    <div class="table-body">

      <div class="table-row">
        <div class="table-body-cell reftable">American Civil War (NC battles)</div>
        <div class="table-body-cell reftable"><a href="https://americancivilwar.com/statepic/north_carolina.html" target="_blank">https://americancivilwar.com/statepic/north_carolina.html</a></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell reftable">NC Civil War Battles (NPS)</div>
        <div class="table-body-cell reftable"><a href="https://www.nps.gov/civilwar/northcarolina.htm" target="_blank">https://www.nps.gov/civilwar/northcarolina.htm</a></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell reftable">American Civil War Battlefields</div>
        <div class="table-body-cell reftable"><a href="https://en.wikipedia.org/wiki/List_of_American_Civil_War_battles" target="_blank">https://en.wikipedia.org/wiki/List_of_American_Civil_War_battles</a></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell reftable">American Battlefield Trust</div>
        <div class="table-body-cell reftable"><a href="https://www.battlefields.org/learn/battles" target="_blank">https://www.battlefields.org/learn/battles</a> (select Civil War and NC)</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell reftable">Battles of the Civil War</div>
        <div class="table-body-cell reftable"><a href="http://www.civilwar.com/resources/battle-map-27475.html" target="_blank">http://www.civilwar.com/resources/battle-map-27475.html</a> (select NC)</div>
      </div>

      <div class="table-row">
        <div class="table-body-cell reftable">NC Hwy Historical Markers</div>
        <div class="table-body-cell reftable"><a href="http://www.ncmarkers.com/search.aspx" target="_blank">http://www.ncmarkers.com/search.aspx</a></div>
      </div>

      <div class="table-row">
        <div class="table-body-cell reftable">Historical Marker DB</div>
        <div class="table-body-cell reftable"><a href="https://www.hmdb.org/" target="_blank">https://www.hmdb.org/</a></div>
      </div>
    </div>
  </div>

</body>

</html>
