* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0b78d;
  background-color: #333;
  background-size: cover;
  font-family: Raleway, sans-serif;
}

.banner {
  color: #ff8c00;
  text-shadow: 0.07em 0.07em 0.13em #000;
  font-size: 3.5em;
  margin-top: 0.5em;
  text-align: center;
}

p {
  color: #f9f9f9;
  margin: 2em auto;
  line-height: 1.3em;
  text-align: center;
}

.patches, .rockers, .flags {
  
}

.section-title {
  color: #ff8c00;
  font-size: 2em;
  padding: 1em 0;
  text-align: center;
}

.product-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image {
  height: 12.5em;
  color: #f9f9f9;
  text-align: center;
}

.describe {
  color: #f9f9f9;
  margin: 0 auto;
}

.stock {
  color: #ff0000;
  font-style: italic;
}

.email {
  color: #ff8c00;
}
