@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Raleway, sans-serif;
}

.memory-poem {
  color: #f9f9f9;
  font-family: Charm, sans-serif;
  font-size: 19px;
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
  white-space: pre-line;
}

.banner {
  color: #a9a9a9;
  text-shadow: 0.07em 0.07em 0.13em #000;
  font-size: 48px;
  text-align: center;
}

.past-members {
  margin: 8px 32px 32px 32px;
}

.unknown-dates, .known-dates {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.memory-tag {
  width: 350px;
  line-height: 1em;
  font-family: "Xanh Mono", serif;
  font-size: 34px;
  text-align: center;
  margin: 0.2em auto;
  color: #333;
  background-image: linear-gradient(345deg,
      hsl(43deg 74% 49%) 0%,
      hsl(43deg 73% 53%) 21%,
      hsl(42deg 74% 56%) 30%,
      hsl(42deg 76% 60%) 39%,
      hsl(42deg 79% 63%) 46%,
      hsl(42deg 81% 66%) 54%,
      hsl(42deg 85% 69%) 61%,
      hsl(42deg 89% 72%) 69%,
      hsl(43deg 94% 75%) 79%,
      hsl(43deg 100% 78%) 100%);
  border-radius: 15px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, .6);
  /* 60% white from bottom */
}

ul {
  list-style: none;
  margin: auto;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}

.name {
  font-size: 0.9em;
}

.year {
  font-size: 0.70em;
}

.hide {
  display: contents !important;
  visibility: hidden;
}

@media screen and (max-width:800px) {
  .memory-poem {
    font-size: 14px;
  }
  
  .unknown-dates {
    margin-bottom: 1em;
  }
}
