body {
  background-color: #f0f0f0;
  font-family: Raleway, sans-serif;
}

h1, h2 {
  text-align: center;
}

h3 {
  color: #f00;
  text-align: center;
}

.article-style {
  border: solid 1px #333;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 0.3em;
  max-width: 90%;
}

ul {
  list-style-position: inside;
  list-style-type: circle;
}

.columns {
  column-count: 4;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

p {
  margin: 1em 3em;
  text-align: left;
  white-space: pre-line;
}

.warning {
  color: #f00;
}

ol {
  counter-reset: section;
  list-style-type: none;
}

ol > li::before {
  color: #f77;
  content: counters(section, ".") " ";
  counter-increment: section;
  font-weight: bold;
}

li {
  max-width: 95%;
}

span.li {
  display: list-item;
  list-style-type: circle;
  margin-left: 1.5em;
}

.newline {
  display: block;
  padding-left: 1.5em;
}

.code-font {
  font-size: 1.3em;
}

.screenshot {
  border-radius: 5px;
  display: block;
  margin: 0.3em auto;
  margin-left: 1.5em;
  max-width: 90%;
}

.figure {
  max-width: 30%;
}

.number-reuse {
  color: #f77;
}

hr {
  border: solid 0.1em #a9a9a9;
  width: 80%;
}
