* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: 'Inter', sans-serif;
}

.title, .subtitle {
  text-align: center;
}

.explain, .use, .website, .screenshots {
  margin: auto;
  max-width: 85%;
}

.screenshots {
  margin: auto;
  max-width: 90%;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  padding-bottom: 0.5em;
}

.newline {
  display: block;
}

.screenshots, .website {
  margin-top: 1em;
}

.screenshot-container {
  border: solid 1px grey;
  border-radius: 0.2em;
  display: flex;
  margin: 0.5em auto;
  padding: 0.2em;
}

.screenshot {
  display: flex;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.screenshot img {
  max-height: 400px;
  min-width: 200px;
  max-width: 200px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 1em 1.4em;
}

dd {
  margin-inline-start: 1em;
}

ul {
  list-style: inside;
  padding-left: 1.5em;
}

.navScreenshot {
  display: block;
  height: auto;
  max-width: 100%;
  padding-bottom: 0.4em;
}

@media screen and (max-width:800px) {
  body {
    font-size: 14px;
  }
}
