@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700');

body {
  background-color: #f9f9f9;
  font-family: 'Ubuntu', sans-serif;
    }

h3 {
/*  color: cornflowerblue;*/
}

.active {
	background-color: lightgrey;
}

section {
  margin-top: 1em;
}

.dropdown-menu {
  max-height: 19em;
  overflow-y: auto;
}

ul {
  list-style-type: circle;
}

.profile-link {
  text-align: center;
  display: block;
}
