<!--
  use this template to create the table for the Weenie Patch checklist
  add/remove locales as needed
  the list is alphabetized by city
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weenie Patch Checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  <style>
    * {
      margin: 0;
    }

    body {
      font-family: Raleway, sans-serif;
    }
    
    h1 {
      text-align: center;
    }

    table {
      margin: auto;
    }

    table,
    th,
    td {
      border: solid 1px lightgrey;
      border-collapse: collapse;
      padding: 0.2em 1em;
    }

    th {
      background: #333;
      color: #f9f9f9;
    }

    tbody tr:nth-child(even) {
      background-color: #f0f0f0;
    }

    footer {
      margin-top: 1em;
      text-align: center;
    }

  </style>
</head>

<body>

  <h1>Weenie Patch Checklist</h1>

  <table>
    <thead>
      <tr>
        <th>Establishment</th>
        <th>Address</th>
        <th>City</th>
        <th>Notes</th>
        <th>X</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Zack's Hot Dogs</td>
        <td>201 West Davis St</td>
        <td>Burlington</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Grocery Bag</td>
        <td>4879 NC-42</td>
        <td>Clayton</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Jimmy's Famous Hot Dogs</td>
        <td>2728 Guess Rd<br><br>4435 Highway 55</td>
        <td>Durham</td>
        <td>visit only one</td>
        <td></td>
      </tr>
      <tr>
        <td>King's Sandwich Shop</td>
        <td>701 Foster Street</td>
        <td>Durham</td>
        <td>closed Sunday's</td>
        <td></td>
      </tr>
      <tr>
        <td>Hot Diggidy Dog</td>
        <td>106 Roxie Ave</td>
        <td>Fayetteville</td>
        <td>closed Sunday's</td>
        <td></td>
      </tr>
      <tr>
        <td>Snoopy's Hot Dogs</td>
        <td>82-101 Glen Rd<br><br>3600 Hillsborough St<br><br>2431 Spring Forest Rd<br><br>1931 Wake Forest Rd</td>
        <td>Garner<br><br>Raleigh<br><br>Raleigh<br><br>Raleigh</td>
        <td>visit only one</td>
        <td></td>
      </tr>
      <tr>
        <td>Charlie Graingers</td>
        <td>248 Union Square NW</td>
        <td>Hickory</td>
        <td>closed Sunday's</td>
        <td></td>
      </tr>
      <tr>
        <td>Ma's Hot Dog House</td>
        <td>2515 U.S. Highway 258 South</td>
        <td>Kinston</td>
        <td>closed Sunday's</td>
        <td></td>
      </tr>
      <tr>
        <td>Capt'n Franks</td>
        <td>3800 North Croatan Highway</td>
        <td>Kitty Hawk</td>
        <td>open 'til 3PM on Sunday</td>
        <td></td>
      </tr>
      <tr>
        <td>Paul's Place</td>
        <td>11725 US-117</td>
        <td>Rocky Point</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Shorty's</td>
        <td>214 S White Street</td>
        <td>Wake Forest</td>
        <td>closed Sunday's</td>
        <td></td>
      </tr>
      <tr>
        <td>Bill's Hot Dog Stand</td>
        <td>109 Gladden St</td>
        <td>Washington</td>
        <td>closed Sunday's</td>
        <td></td>
      </tr>
      <tr>
        <td>Dick's Hot Dog Stand</td>
        <td>1500 Nash St N</td>
        <td>Wilson</td>
        <td>closed Monday's</td>
        <td></td>
      </tr>
      <tr>
        <td>Kermit's Hot Dog House</td>
        <td>2220 Thomasville Rd</td>
        <td>Winston-Salem</td>
        <td>closed Sunday's</td>
        <td></td>
      </tr>
      <tr>
        <td>Trolly Stop</td>
        <td>94 South Lumina Ave</td>
        <td>Wrightsville Beach</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <footer>
    <p><b>Visit a minimum of 12 <em>different</em> establishments and take a photo that includes your motorcycle and the restaurant sign</b></p>
  </footer>

</body>

</html>
