<!--
  use this template to create the list for the Ride Into the Wild checklist
  add/remove locales as needed
  each section is alphabetized by city
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ride into the Wild Checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  <style>
    body {
      font-family: Raleway, sans-serif;
    }
    
    h2, h3 {
      text-align: center;
    }

    a {
/*      text-decoration: none;*/
    }

    a:link, a:visited {
      color: #0000ff;
    }

    p {
      margin-left: 3em;
    }
    
    footer {
      text-align: left;
      margin-left: 3em;
    }

  </style>

</head>

<body>

  <h2>Ride Into the Wild Patch</h2>

  <p><b><a href="https://nczoo.org" target="_blank">North Carolina Zoo</a></b><br>
    <b>4401 Zoo Parkway, Asheboro, NC</b> (1h 28m from TRHD)<br>
    $15.00 / $13.00 Seniors (62+) (group rates available)<br>
    9am - 5pm daily
  </p>

  <p><b><a href="https://www.alohasafarizoo.org/" target="_blank">Aloha Safari Zoo</a></b><br>
    <b>159 Mini Lane, Cameron, NC</b> (55m from TRHD)<br>
    $12.00 (feed cups $3.00)<br>
    Fri - Sun 10am - 5pm
  </p>

  <p><b><a href="http://www.animal-edventures.org/" target="_blank">Animal Ed.ventures Sanctuary</a></b><br>
    <b>1489 Live Oak Road, Coats, NC</b> (34m from TRHD)<br>
    $12.00 (group rate available)<br>
    Wednesday - Sun 11am - 4pm
  </p>

  <p><b><a href="https://lemur.duke.edu/" target="_blank">Duke Lemur Center</a></b><br>
    <b>3705 Erwin Road, Durham, NC</b> (44m from TRHD)<br>
    Tours by reservation only, visit their website for scheduling<br>
  </p>

  <p><b><a href="https://www.lifeandscience.org/" target="_blank">Durham Museum of Life + Science</a></b><br>
    <b>433 West Murrray Avenue, Durham, NC</b> (36m from TRHD)<br>
    $23.00 / $21.00 Seniors (65+)<br>
    Tuesday - Sunday 10am - 5pm<br>
  </p>

  <p><b><a href="https://www.greensboroscience.org/" target="_blank">Greensboro Science Center</a></b><br>
    <b>4301 Lawndale Drive, Greensboro, NC</b> (1h 27m from TRHD)<br>
    $19.50 / $18.50 Seniors (65+)<br>
    9am - 5pm daily
  </p>

  <p><b><a href="https://thelazy5ranch.com/" target="_blank">Lazy 5 Ranch</a></b><br>
    <b>15100 Mooresville Road, Mooresville, NC</b> (2h 21m from TRHD)<br>
    $11.00 / $8.00 Seniors (60+) **Cash Only**<br>wagon rides discontinued due to social distancing concerns<br>
    Monday - Saturday 9am to 5:30pm, arrive by 4pm<br>
    Sunday 12pm to 5:30pm, arrive by 4pm
  </p>

  <p><b><a href="https://naturalsciences.org/" target="_blank">Museum of Natural Sciences</a></b><br>
    <b>11 West Jones Street, Raleigh, NC</b> (6m from TRHD)<br>
    FREE!<br>
    Tuesday - Sunday 10am - 5pm<br>
  </p>

  <p><b><a href="https://www.shwpark.com/" target="_blank">Sylvan Heights Bird Park</a></b><br>
    <b>500 Sylvan Heights Park Way, Scotland Neck, NC</b> (1h 29m from TRHD)<br>
    $12.00 / $11.00 Seniors (62+)<br>
    Tuesday - Sunday 9am - 5pm
  </p>

  <h3 style="page-break-before: always;">Aquariums (choose one)</h3>
  <p><b><a href="https://www.ncaquariums.com/fort-fisher" target="_blank">NC Aquarium at Fort Fisher</a></b><br>
    <b>900 Loggerhead Road, Kure Beach, NC</b> (2h 25m from TRHD)<br>
    $12.95 / $11.95 Seniors (62+)<br>
    9am - 5pm daily
  </p>

  <p><b><a href="https://www.ncaquariums.com/roanoke-island" target="_blank">NC Aquarium at Roanoke Island</a></b><br>
    <b>374 Airport Road, Manteo NC</b> (2h 51m from TRHD)<br>
    $12.95 / $11.95 Seniors (62+)<br>
    9am - 5pm daily
  </p>

  <p><b><a href="https://www.ncaquariums.com/pine-knoll-shores" target="_blank">NC Aquarium at Pine Knoll Shores</a></b><br>
    <b>1 Roosevelt Blvd, Pine Knoll Shores, NC</b> (2h 51m from TRHD)<br>
    $12.95 / $11.95 Seniors (62+)<br>
    9am - 5pm daily
  </p>

  <h3>Big Cat Rescues (choose one)</h3>

  <p>
    <b><a href="https://animalparknc.org/" target="_blank">Animal Park at the Conservators Center</a></b><br>
    <b>676 E. Hughes Mill Road, Burlington, NC</b> (1h 21m from TRHD)<br>
    Different tours available, visit the website to see options
  </p>

  <p>
    <b><a href="https://carolinatigerrescue.org/" target="_blank">Carolina Tiger Rescue</a></b><br>
    <b>1940 Hanks Chapel Road, Pittsboro, NC</b> (41m from TRHD)<br>
    Four different tours available by reservation only. Visit website for tours prices and times.
  </p>

  <footer>
    <b>Notes:</b><br>
    Times listed from TRHD are 'fastest route' options (that is, highway route)<br>
    Hours and prices may vary by season. Check websites before planning your trip.
  </footer>

</body>

</html>
