<!--
  use this template to create the table for the Chowhound Patch checklist
  add/remove locales as needed
  the list is alphabetized by city
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chowhound checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  <style>
    * {
      margin: 0;
    }

    body {
      font-family: Raleway, sans-serif;
    }
    
    h1 {
      text-align: center;
    }

    table {
      margin: auto;
    }

    table, th, td {
      border: solid 1px lightgrey;
      border-collapse: collapse;
      padding: 0.2em 1em;
    }

    th {
      background: #333;
      color: #f9f9f9;
    }

    tbody tr:nth-child(even) {
      background-color: #f0f0f0;
    }
    
    footer {
      margin-top: 1em;
      text-align: center;
    }

  </style>
</head>

<body>

  <h1>Chowhound Patch Checklist</h1>

  <table>
    <thead>
      <tr>
        <th>Establishment</th>
        <th>Address</th>
        <th>City</th>
        <th>Date Opened</th>
        <th>X</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pik N Pig</td>
        <td>194 Gilliam McConnell Rd</td>
        <td>Carthage</td>
        <td>temp closed due to fire</td>
        <td></td>
      </tr>
      <tr>
        <td>Jones Cafe</td>
        <td>415 E Main St</td>
        <td>Clayton</td>
        <td>1958</td>
        <td></td>
      </tr>
      <tr>
        <td>Grady's BBQ</td>
        <td>3096 Arrington Bridge Road</td>
        <td>Dudley</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Heath's Steak House</td>
        <td>316 S Powell Ave</td>
        <td>Dunn</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>City Lunch Hotdogs</td>
        <td>5 S Main St</td>
        <td>Franklinton</td>
        <td>1949</td>
        <td></td>
      </tr>
      <tr>
        <td>Wilbers BBQ</td>
        <td>4172 US-70</td>
        <td>Goldsboro</td>
        <td>1965</td>
        <td></td>
      </tr>
      <tr>
        <td>Hops Burger Bar</td>
        <td>2419 Spring Garden St</td>
        <td>Greensboro</td>
        <td>Fox News Best Burger in NC</td>
        <td></td>
      </tr>
      <tr>
        <td>B's BBQ<br>or<br>Parker's BBQ</td>
        <td>751 B's Barbecue Rd<br><br>3109 Memorial Dr</td>
        <td>Greenville</td>
        <td>1978<br><br><br></td>
        <td></td>
      </tr>
      <tr>
        <td>Acme Pizza</td>
        <td>204 Village Walk Dr</td>
        <td>Holly Springs</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Lexington BBQ<br>or<br>The BBQ Center</td>
        <td>100 Smokehouse Ln<br><br>900 N Main St</td>
        <td>Lexington</td>
        <td>1962<br><br><br></td>
        <td></td>
      </tr>
      <tr>
        <td>El's Drive In</td>
        <td>3706 Arendell St</td>
        <td>Morehead City</td>
        <td>1959</td>
        <td></td>
      </tr>
      <tr>
        <td>The Roast Grill<br>or<br>Cloos Coney Island</td>
        <td>7 S West St<br><br>2233 Avent Ferry Rd</td>
        <td>Raleigh</td>
        <td>1940<br><br>1933</td>
        <td></td>
      </tr>
      <tr>
        <td>Short Sugar's</td>
        <td>328 S Scales St</td>
        <td>Reidsville</td>
        <td>1949</td>
        <td></td>
      </tr>
      <tr>
        <td>Central Cafe Hotdogs</td>
        <td>132 S Church St</td>
        <td>Rocky Mount</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Johnson's Burgers</td>
        <td>1520 E 11th St</td>
        <td>Siler City</td>
        <td>1946</td>
        <td></td>
      </tr>
      <tr>
        <td>Bill's Hot Dogs</td>
        <td>109 Gladden St</td>
        <td>Washington</td>
        <td>1928</td>
        <td></td>
      </tr>
      <tr>
        <td>Flo's Kitchen<br>or<br>Dick's Hot Dog Stand</td>
        <td>1015 Goldsboro St S<br><br>1500 Nash St N</td>
        <td>Wilson</td>
        <td>Flo's closes @ 2PM<br><br>1921</td>
        <td></td>
      </tr>
      <tr>
        <td>Bunn's BBQ</td>
        <td>127 N King St</td>
        <td>Windsor</td>
        <td>1938</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <footer>
    <p><b>Visit a minimum of 10 <em>different</em> establishments to earn this patch</b></p>
    <p>A lot of locations are only open until lunch, check times</p>
  </footer>

</body>

</html>