<!--
  use this template to create the table for the Eat Some Hog Patch checklist
  add/remove locales as needed
  the list is alphabetized by city
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eat Some Hog Patch Checklist</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  <style>
    * {
      margin: 0;
    }

    body {
      font-family: Raleway, sans-serif;
    }
    
    h1 {
      text-align: center;
    }

    table {
      margin: auto;
    }

    table,
    th,
    td {
      border: solid 1px lightgrey;
      border-collapse: collapse;
      padding: 0.2em 1em;
    }

    th {
      background: #333;
      color: #f9f9f9;
    }

    tbody tr:nth-child(even) {
      background-color: #f0f0f0;
    }

    footer {
      margin-top: 1em;
      text-align: center;
    }

  </style>
</head>

<body>

  <h1>Eat Some Hog Patch Checklist</h1>

  <table>
    <thead>
      <tr>
        <th>Establishment</th>
        <th>Address</th>
        <th>City</th>
        <th>Notes</th>
        <th>X</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Danny's BBQ</td>
        <td>311 Ashville Ave</td>
        <td>Cary</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Dickey's Barbecue Pit</td>
        <td>1102 Parkside Main St<br><br>6552 Glenwood Ave</td>
        <td>Cary<br><br>Raleigh</td>
        <td>use only one location</td>
        <td></td>
      </tr>
      <tr>
        <td>Aviator Smokehouse</td>
        <td>525 E Broad St</td>
        <td>Fuquay-Varina</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Smithfield's Chicken &amp; BBQ</td>
        <td>1440 E Broad St<br><br>7304 Knightdale Blvd<br><br>3578 Davis Dr<br><br>7911 Fayetteville Rd<br><br>12504 Capitol Blvd<br><br>121 WakeLon St</td>
        <td>Fuquay-Varina<br><br>Knightdale<br><br>Morrisville<br><br>Raleigh<br><br>Wake Forest<br><br>Zebulon</td>
        <td>use only one location</td>
        <td></td>
      </tr>
      <tr>
        <td>Carolina Barbecue</td>
        <td>733 Highway 70 W</td>
        <td>Garner</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Smokey's BBQ Shack</td>
        <td>10800 Chapel Hill Road</td>
        <td>Morrisville</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Barbeque Lodge</td>
        <td>4600 Capitol Blvd</td>
        <td>Raleigh</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Big Al's BBQ</td>
        <td>2920 Forestville Road</td>
        <td>Raleigh</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Clyde Cooper's BBQ</td>
        <td>327 S Wilmington St</td>
        <td>Raleigh</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Ole Time Barbeque</td>
        <td>6309 Hillsborough St</td>
        <td>Raleigh</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Seoul Garden Korean BBQ</td>
        <td>4701 Atlantic Ave</td>
        <td>Raleigh</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>The Pit</td>
        <td>328 W Davie St</td>
        <td>Raleigh</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Fire Pit BBQ</td>
        <td>950 Gateway Commons Dr</td>
        <td>Wake Forest</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <footer>
    <p><b>Visit a minimum of 12 <em>different</em> establishments and take a photo that includes your motorcycle and the restaurant sign</b></p>
  </footer>

</body>

</html>
